@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
body {
  font-family: 'Roboto Mono', sans-serif;
}
.text-xl.font-bold.flex.items-center {
  font-family: 'Roboto Mono', sans-serif;
}


.large-emoji {
  font-size: 2rem;
}

footer {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
}

button {
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f3f4f6;
}

header{
  background-color: #2b4476;
}

a:hover {
  text-decoration: underline;
}

@keyframes walk {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(calc(100% - 40px));
  }

  100% {
    transform: translateX(0);
  }
}


a:hover {
  text-decoration: none;
}

@keyframes cow-walk {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }
}

.animate-cow-walk {
  animation: cow-walk 10s linear infinite;
}